---
---
@import '../_sass/vars';
@import '../_sass/functions';
@import '../_sass/mixins';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Calligraffitti|Loved+by+the+King|Comfortaa:300");

@import "../_sass/skel";

@include skel-breakpoints((
    desktop: '(min-width: 737px)',
    tablet: '(min-width: 737px) and (max-width: 1200px)',
    mobile: '(max-width: 736px)'
));

@include skel-layout((
    reset: 'full',
    boxModel: 'border',
    grid: true,
    conditionals: true,
    containers: true,
    breakpoints: (
        desktop: (
            containers: 1200px,
            grid: (
                gutters: (50px, 50px)
            ),
        ),
        tablet: (
            containers: 960px,
            grid: (
                gutters: (30px, 30px)
            ),
        ),
        mobile: (
            containers: (100%, true),
            grid: (
                gutters: (20px, 20px)
            ),
        )
    )
));

/* Basic */

body {
    background: #f0f0f0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #777;

    &.is-loading * {
        @include vendor('transition', 'none !important');
        @include vendor('animation', 'none !important');
    }
}

input, textarea, select {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    color: #888;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border: 0;
}

article h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

article h2,
article article h1 {
    font-size: 1.65em;
    font-weight: 400;
    text-align: left;
}

article h3,
article article h2,
article article article h1 {
    font-size: 1.2em;
    text-align: left;
}

a {
    @include vendor('transition', ('color 0.25s ease-in-out', 'border-bottom-color 0.25s ease-in-out'));
    color: #666;
    text-decoration: none;
    border-bottom: solid 1px #ddd;

    strong {
        @include vendor('transition', ('color 0.25s ease-in-out', 'border-bottom-color 0.25s ease-in-out'));
    }

    &:hover {
        color: #AF68BA;
        border-bottom-color: rgba(255, 255, 255, 0);

        strong {
            color: #AF68BA;
        }
    }
}

strong, b {
    font-weight: 600;
    color: #666;
}

em, i {
    font-style: italic;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

hr {
    border: 0;
    border-top: solid 1px #ddd;
}

blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

p {
    text-align: justify;
    margin-bottom: 0.8em;
}

ul, ol, dl, table, blockquote {
    margin-bottom: 2em;
}

br.clear {
    clear: both;
}

/* Sections/Article */

section, article {
    margin-bottom: 1.5em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
    margin-bottom: 0;
}

/* Image */

.image {
    @include vendor('transition', 'opacity 0.25s ease-in-out');
    display: inline-block;

    &:hover {
        opacity: 0.9;
    }

    img {
        display: block;
        width: 100%;
    }

    &.fit {
        display: block;
        width: 100%;
    }

    &.featured {
        display: block;
        width: 100%;
        margin: 0 0 3.5em 0;
    }

    &.left {
        float: left;
        margin: 0 1.5em 1.5em 0;
        position: relative;
        top: 0.5em;
    }

    &.centered {
        display: block;
        margin: 0 0 2em 0;

        img {
            margin: 0 auto;
            width: auto;
        }
    }
}

/* List */

ul {
    list-style: disc;
    margin-left: 1em;

    li {
        padding-left: 0.5em;
        margin: 0.75em 0 0.75em 0;

        &:first-child {
            margin-top: 0;
        }
    }

    &.links {
        list-style: decimal;

        li {
            display: inline;
            border-left: solid 1px #d0d0d0;
            padding-left: 1em;
            margin-left: 1em;

            &:first-child {
                margin-left: 0;
                padding-left: 0;
            }
        }
    }

    &.actions {
        margin-top: 2.5em;
        clear: both;
    }

    &.divided {
        li {
            border-top: solid 2px #e5e5e5;

            &:first-child {
                border-top: 0;
                margin-top: 0;
                padding-top: 0;
            }
        }
    }

    &.icons {
        > li {
            position: relative;
            padding: 2em 0 0 3em;

            &:before {
                position: absolute;
                left: 0;
                top: 2em;
                display: block;
                background: #878787;
                color: #e4e4e4;
                width: 1.65em;
                height: 1.65em;
                border-radius: 1.65em;
                line-height: 1.65em;
                text-align: center;
                box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
            }

            &:first-child {
                padding-top: 0;

                &:before {
                    top: 0;
                }
            }
        }
    }
}

ol {
    list-style: decimal;
    margin-left: 1em;

    li {
        padding-left: 0.5em;
        margin: 0.75em 0 0.75em 0;

        &:first-child {
            margin-top: 0;
        }
    }
}

/* Form */

form {
    label {
        font-weight: 600;
        text-transform: uppercase;
        color: #888;
        display: block;
        margin: 0 0 1em 0;
    }

    input[type="text"],
    input[type="email"]
    input[type="password"],
    select,
    textarea {
        @include vendor('transition', 'background-color 0.25s ease-in-out');
        -webkit-appearance: none;
        display: block;
        border: 0;
        background: #e8e8e8;
        width: 100%;
        box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        line-height: 1.25em;
        padding: 0.75em 1em 0.75em 1em;

        &:focus {
            background: #f0f0f0;
        }
    }

    textarea {
        min-height: 11em;
    }

    .formerize-placeholder {
        color: #555 !important;
    }

    ::-webkit-input-placeholder {
        color: #555 !important;
        line-height: 1.35em;
    }

    :-moz-placeholder {
        color: #555 !important;
    }

    ::-moz-placeholder {
        color: #555 !important;
    }

    :-ms-input-placeholder {
        color: #555 !important;
    }

    ::-moz-focus-inner {
        border: 0;
    }
}

/* Table */

table {
    width: 100%;

    &.default {
        width: 100%;

        tbody {
            tr {
                border-top: solid 1px #E5E5E5;

                &:first-child {
                    border-top: 0;
                }
            }
        }

        td {
            padding: 0.75em 1em 0.75em 1em;
        }

        th {
            text-align: left;
            font-weight: bold;
            padding: 0.75em 1em 0.75em 1em;
        }

        thead {
            background: #878787;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;
            border: 0;
            box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
        }

        tfoot {
            background: #F0F0F0;
            border-top: solid 2px #E5E5E5;
        }
    }
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    @include vendor('transition', 'all 0.25s ease-in-out');
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: #490254;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 4px;
    border: 0;
    outline: 0;
    font-size: 1em;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    font-weight: 600;
    text-align: center;

    &.icon {
        &:before {
            position: relative;
            padding-right: 0.75em;
            opacity: 0.5;
            top: 0.05em;
        }
    }

    &:hover {
        background: #AF68BA;
    }

    &:active {
        background: #AF68BA;
    }

    &.alt {
        background: #878787;

        &:hover {
            background: #979797;
        }

        &:active {
            background: #878787;
        }
    }
}

/* Box */

.box {
    .excerpt {
        .date {
            background: #878787;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;
            border-radius: 4px;
            border: 0;
            box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
        }
    }
}

/* Icons */

.icon {
    position: relative;
    text-decoration: none;

    &:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    > .label {
        display: none;
    }
}

/* Wrappers */

.header-wrapper {
    position: relative;
    background: #fff;
    text-align: center;

    p {
        text-align: center;
    }
}

.banner-wrapper {
    position: relative;
    overflow: hidden;
    background: #fff;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px grey;

    .container {
        max-width: 40em;
    }

    .inner {
        background: url('../files/citation.jpg');
        background-size: cover;
    }

    p {
        text-align: center;
    }
}

.features-wrapper {
    position: relative;
    overflow: hidden;
    background: #fff;
    text-align: center;

    p {
        text-align: center;
    }

    .actions {
        margin-top: 1.25em;
    }
}

.main-wrapper {
    position: relative;
    overflow: hidden;
    background: #fff;
}

.footer-wrapper {
    position: relative;
    overflow: hidden;
    background: #f0f0f0;

    h2 {
        letter-spacing: 0;
    }

    form {
        input[type="text"],
        input[type="email"],
        input[type="password"],
        select,
        textarea {
            background: #f7f7f7;

            &:focus {
                background: #fff;
            }
        }
    }

    ul {
        margin-top: 2em;
        list-style-type: none;
        li {
            margin: 0;
            padding-top: 15px;
            &:before {
                top: 15px;
            }
        }
    }

    ul.links li {
        border: none;
    }

    h2 {
        text-align: center;
    }
}

/* Header */

#header {
    position: relative;
    border-bottom: solid 2px #e5e5e5;
    padding: 6em 0 1em 0;

    h1, h2 {
        color: #490254;
        text-transform: none;
        text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
        margin: 0;
        a {
            border: 0;
            &:hover {
                color: #AF68BA;
            }
        }
    }

    h1 {
        font-family: 'Calligraffitti', cursive;
        font-size: 4em;
        font-weight: 700;
        margin-left: -6em;
    }

    h2 {
        font-family: 'Loved by the King', cursive;
        font-size: 3em;
        font-weight: 400;
        margin-right: -6em;
        margin-top: -0.3em;
    }
}

/* Nav */

ul.dropotron {
    list-style-type: none;
}

#nav {
    cursor: default;
    > ul {
        > li {
            > a {
                border: 0;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 400;
                color: #777;
                outline: 0;

                &:before {
                    display: inline-block;
                    background: #878787;
                    color: #e4e4e4;
                    width: 1.65em;
                    height: 1.65em;
                    border-radius: 1.65em;
                    line-height: 1.65em;
                    text-align: center;
                    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
                    margin-right: 0.75em;
                    -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
                    -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
                    -o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
                    -ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
                    transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
                }

                > span {
                    -moz-transition: color 0.25s ease-in-out;
                    -webkit-transition: color 0.25s ease-in-out;
                    -o-transition: color 0.25s ease-in-out;
                    -ms-transition: color 0.25s ease-in-out;
                    transition: color 0.25s ease-in-out;
                }
            }

            &.active > a:before,
            &:hover > a:before {
                background: #AF68BA;
                color: #fff;
            }

            &.active > a > span,
            &:hover > a > span {
                color: #AF68BA;
            }
        }
    }
}

/* Banner */

#banner {
    position: relative;
    text-transform: uppercase;

    p {
        font-weight: 400;
    }

    strong {
        color: inherit;
    }
}

/* Content */

#content {
    > section,
    > article {
        border-top: solid 2px #e5e5e5;
        box-shadow: inset 0 8px 0 0 #fff, inset 0 10px 0 0 #e5e5e5;

        &:first-child {
            border-top: 0;
            box-shadow: none;
        }
    }
}

#features {
    h1 {
        text-align: center;
    }

    p {
        display: none;
    }

    .image.featured {
        margin-bottom: 1em;
    }
}

/* Sidebar */

.sidebar {
    padding-top: 6.5em;
}

/* Copyright */

#copyright {
    border-top: solid 2px #e5e5e5;
    text-align: center;
}

#contact {
    h1, h2 {
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
        line-height: 1em;
    }
    h1 {
        font-size: 1.3em;
        font-weight: bold;
        text-transform: none;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 1em;
        font-weight: normal;
        text-transform: none;
    }
}

#navPanel, #titleBar {
    display: none;
}

.publication {
    h1 {
        font-size: 130%;
        margin-bottom: 2px;
    }
    h2 {
        font-size: 100%;
        margin-top: 0;
        text-transform: none;
        letter-spacing: inherit;
    }
}

.conte {
    h1 {
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin-bottom: 0.8em;

        li {
            margin: 0.2em 0;
            &:before {
                content: '-';
                display: inline-block;
                width: 10px;
                margin-left: -10px;
            }
        }
    }
}

div.modal {
    display: none;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .modal--overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: black;
        background-color: rgba(0,0,0, 0.8);
    }

    .modal--close {
        position: absolute;
        right: 5px;
        top: 0;
        span { display: none; }
        a { text-decoration: none; border: none; }
    }

    .modal--inner {
        position: absolute;
        top: 5%;
        bottom: 5%;
        left: 5%;
        right: 5%;

        background-color: white;
        padding: 1.2em;
        overflow: auto;
        max-height: 100%;
    }
}

@import '../_sass/breakpoints/desktop';
@import '../_sass/breakpoints/tablet';
@import '../_sass/breakpoints/mobile';
