@include breakpoint(desktop) {
    /* Basic */

    body, input, textarea, select {
        line-height: 1.65em;
        font-size: 13pt;
    }

    h2 {
        font-weight: 400;
        letter-spacing: 4px;
        line-height: 1.75em;
    }

    h3 {
        letter-spacing: 2px;
    }

    /* Table */

    table {
        &.default {
            thead {
                font-size: 0.85em;
                letter-spacing: 2px;
            }
        }
    }

    /* Button */

    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
        font-size: 0.85em;
        letter-spacing: 2px;
        padding: 0.85em 2.75em 0.85em 2.75em;
    }

    /* List */

    ul {
        &.actions {
            li {
                display: inline-block;
                margin-left: 1em;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &.divided {
            li {
                margin: 2.5em 0 0 0;
                padding: 2.5em 0 0 0;
            }
        }
    }

    /* Box */

    .box {
        .post {
            .no-sidebar & > header {
                text-align: center;
            }
        }

        &.excerpt {
            .date {
                display: inline-block;
                font-size: 0.85em;
                letter-spacing: 2px;
                padding: 0.25em 1em 0.25em 1em;
                margin: 0 0 2.5em 0;
            }
        }
    }

    /* Wrappers */

    .features-wrapper,
    .banner-wrapper,
    .main-wrapper,
    .footer-wrapper {
        padding: 2em 0 2em 0;
    }

    /* Header */

    #header {
        h1 {
            letter-spacing: 13px;
        }
    }

    /* Nav */

    #nav {
        position: absolute;
        top: 3em;
        left: 0;
        width: 100%;

        > ul {
            > li {
                display: inline-block;
                padding-right: 2em;

                &:last-child {
                    padding-right: 0;
                }

                > a {
                    display: block;
                    > span {
                        font-size: 0.85em;
                        letter-spacing: 3px;
                    }
                }

                > ul {
                    display: none;
                }
            }
        }
    }

    .dropotron {
        text-align: left;
        border: solid 1px #e5e5e5;
        border-radius: 4px;
        background: #fff;
        background: rgba(255, 255, 255, 0.965);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        padding: 0.75em 0 0.5em 0;
        min-width: 12em;
        margin-top: calc(-0.5em + 1px);
        margin-left: -2px;

        &.level-0 {
            margin-top: 1.5em;
            margin-left: -1em;

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 1.25em;
                top: calc(-0.75em + 1px);
                border-left: solid 0.75em rgba(255, 255, 255, 0);
                border-right: solid 0.75em rgba(255, 255, 255, 0);
                border-bottom: solid 0.75em #fff;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 1.25em;
                top: -0.75em;
                border-left: solid 0.75em rgba(255, 255, 255, 0);
                border-right: solid 0.75em rgba(255, 255, 255, 0);
                border-bottom: solid 0.75em #ccc;
            }
        }

        span, a {
            display: block;
            padding: 0.3em 1em 0.3em 1em;
            border: 0;
            border-top: solid 1px #f0f0f0;
            outline: 0;
        }

        li {
            &:first-child {
                > span, > a {
                    border-top: 0;
                    padding-top: 0;
                }
            }

            &:hover {
                > span, > a {
                    @include vendor('transition', ('color 0.25s ease-in-out', 'border-bottom-color 0.25s ease-in-out'));
                    color: #ed786a;
                }
            }
        }
    }

    /* Banner */

    #banner {
        padding: 10em 0 10em 0;

        p {
            font-size: 2em;
            line-height: 1.5em;
            letter-spacing: 4px;
        }
    }

    /* Content */

    #content > {
        > section,
        > article {
            margin: 5em 0 0 0;
            padding: 5em 0 0 0;

            &:first-child {
                margin: 0;
                padding: 0;
            }
        }
    }

    /* Sidebar */

    .sidebar {
        > section,
        > article {
            margin: 5em 0 0 0;
            padding: 5em 0 0 0;

            &:first-child {
                margin: 0;
                padding: 0;
            }
        }
    }

    /* Copyright */

    #copyright {
        margin-top: 1em;
        padding-top: 1em;
    }
}
