@include breakpoint(tablet) {
    /* Basic */

    body {
        min-width: 960px;
        line-height: 1.75em;
        font-size: 12pt;
    }

    input, textarea, select {
        line-height: 1.75em;
        font-size: 12pt;
    }

    /* Image */

    .image.featured {
        margin: 0 0 2.5em 0;
    }

    .therapie:nth-child(2n+1) .row > div {
        float:right;
    }

    #banner-5ans {
        header {
            padding: 0 7em;
        }
    }
}
