<footer class="footer-wrapper">
    <div id="footer" class="container">
        <header>
            <h2>Des questions ? <strong>Contactez-moi:</strong></h2>
        </header>
        <div class="row">
            <div class="4u 12u(mobile)">
                <section id="contact">
                    <h1>Charlotte Crettenand</h1>
                    <h2>Psychologue-Psychothérapeute FSP</h2>
                    <ul class="icons">
                        <li class="icon fa-home">
                            rue de Gravelone 8<br/>
                            1950 Sion<br/>
                            Valais - Suisse
                        </li>
                        <li class="icon fa-phone">
                            <a href="tel:+41788653110">078 865 31 10</a>
                        </li>
                        <li class="icon fa-envelope">
                            <a href="mailto:charlotte@trame-narrative.ch">charlotte@trame-narrative.ch</a>
                        </li>
                        <li class="icon fa-facebook-f">
                            <a href="https://www.facebook.com/TrameNarrative/">Facebook</a>
                        </li>
                        <li class="icon fa-linkedin">
                            <a href="https://ch.linkedin.com/in/charlottecrettenand">Linkedin</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="8u 12u(mobile)">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?q=rue+de+gravelone+8&amp;ie=UTF8&amp;hq=&amp;hnear=Rue+de+Gravelone+8,+1950+Sion,+Valais&amp;gl=ch&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
    <div id="copyright" class="container">
        <ul class="links">
            <li>&copy; Trame Narrative 2015</li>
            <li>Design inspiré de <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>
