<nav id="nav">
    <ul>
        <li>
            <a class="icon fa-home" href="/index.html"><span>Introduction</span></a>
        </li>
        <li>
            <a class="icon fa-comments" href="/therapies.html"><span>Thérapies</span></a>
            <ul>
                {% for therapie in site.therapie %}
                    {% if therapie.published != false %}
                        <li><a href="/therapies.html#{{ therapie.title | slugify }}" >{{ therapie.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="/therapies.html#approche" >Approche thérapeutique</a></li>
            </ul>
        </li>
        <li>
            <a class="icon fa-briefcase" href="/formations.html"><span>Formations</span></a>
            <ul>
                {% assign counter = 0 %}
                {% for formation in site.formation %}
                    {% if formation.published != false %}
                        {% assign counter = counter | plus:1 %}
                        <li><a href="/formations.html#{{ formation.title | slugify }}" >{{ formation.title }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if counter == 0 %}
                    <li>Aucune formation à venir.</li>
                {% endif %}
            </ul>
        </li>
        <li>
            <a class="icon fa-leaf" href="/moi.html"><span>A mon propos</span></a>
            <ul>
                <li><a href="/moi.html#moi" >A mon propos</a></li>
                <li><a href="/moi.html#publications" >Publications</a></li>
            </ul>
        </li>
        <li>
            <a class="icon fa-pencil" href="#contact"><span>Contact</span></a>
        </li>
    </ul>
</nav>
