---
---
<article class="formation" id="{{ page.title | slugify }}">
    <div class="row">
        <div class="8u 12u(mobile)">
            <header>
                <h1>
                    {{ page.title }}
                    {% if page.organisateur %}
                        - {{ page.organisateur }}
                    {% endif %}
                </h1>
            </header>

            {{ content }}

            {% if page.inscription %}
                <p>
                    <a href="{{ page.inscription }}" target="_blank">En savoir plus et inscriptions.</a>
                </p>
            {% endif %}
        </div>

        {% include formation_sidebar.html %}
    </div>
</article>
