---
---
<article class="therapie" id="{{ page.title | slugify }}">
    <div class="row">
        <div class="8u 12u(mobile)">
            <header>
                <h1>{{ page.title }}</h1>
            </header>

            <span class="image featured">
                <img src="/files/therapies/panorama/{{ page.image }}" alt="{{ page.title }}">
            </span>

            {{ content }}
        </div>

        {% if page.sidebar != false %}
            {% include therapie_sidebar.html %}
        {% endif %}
    </div>
</article>
