---
layout: base
---
<div class="main-wrapper">
    <div id="main" class="container">
        <div id="content">
            <article>
                <header>
                    <a name="moi"><h1>{{ page.title }}</h1></a>
                </header>

                <img src="/files/charlotte.jpg" alt="Charlotte Crettenand - Psychologue psychothérapeute FSP" style="float: left; padding-right: 1em; padding-bottom: 0.5em; max-width: 50%;"/>

                {{ content }}
            </article>
        </div>
    </div>
</div>
