---
layout: base
---
<div class="main-wrapper">
    <div id="main" class="container">
        <div id="content">
            <article>
                {{ content }}
            </article>
        </div>
    </div>
</div>

<div class="features-wrapper">
    <article id="features" class="container">
        <header>
            <h1>Les services proposés</h1>
        </header>
        <div class="row">
            {% assign nb_therapie = 0 %}
            {% for therapie in site.therapie %}
                {% if therapie.published != false %}
                    {% assign nb_therapie = nb_therapie | plus:1 %}
                {% endif %}
            {% endfor %}

            {% for therapie in site.therapie %}
                {% if therapie.published != false %}
                    <div class="{{ 12 | divided_by:nb_therapie }}u 12u(mobile)">
                        <article>
                            <a href="/therapies.html#{{ therapie.title | slugify }}" class="image featured">
                                <img src="/files/therapies/square/{{ therapie.image }}" alt="{{ therapie.title }}">
                            </a>
                            <header>
                                <h1>
                                    <a href="/therapies.html#{{ therapie.title | slugify }}">
                                        {{ therapie.title }}
                                    </a>
                                </h1>
                            </header>
                            <p>{{ therapie.description }}</p>
                        </article>

                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <ul class="actions">
            <li><a href="/therapies.html" class="button icon fa-comments">Les thérapies</a></li>
        </ul>
    </article>
</div>

<div class="banner-wrapper">
    <div class="inner">
        <article id="banner" class="container">
            <p>“La personne n’est pas le Problème. Le Problème est le Problème”</p>
            <p>Michael White</p>
        </article>
    </div>
</div>
